@import "tailwindcss";


@font-face {
  font-family: 'Island Moments';
  src: url("./assets/fonts/Headline-Font/IslandMoments-Regular.ttf")format('truetype');
  font-weight: 400;
  font-style: normal;
}


.font-island {
  font-family: 'Island Moments', cursive;
}

@font-face {
  font-family: 'Halant';
  src: url("./assets/fonts/SubHeadline-font/Halant-Medium.ttf")format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-halant{
  font-family: 'Halant';
}

@font-face {
  font-family: 'Instrumental Sans';
  src: url("./assets/fonts/Content-font/InstrumentSans-VariableFont_wdth\,wght.ttf")format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-content{
  font-family: 'Instrumental Sans';
}

.landing, .formPage{
  scrollbar-width: none;
}